  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {% for p in site.pages | sort:"order" %}
        <a class="item {% if p.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
        <div class="right item">
          <tito-button event="rest-fest/rest-fest-uk-2016" class="ui inverted button">Register</tito-button>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h2>RESTful Web Services Unconference</h2>
      <h1 class="ui inverted header">
        REST Fest UK 2016
      </h1>
      <div typeof="Event">
        <meta property="name" content="REST Fest UK 2016" />
        <h1>July 14-16<sup>th</sup></h1>
        <h3 property="location" typeof="Place" resource="#location">
          <span property="address" typeof="PostalAddress">
            <span property="addressLocality">Edinburgh</span>,
            <span property="addressRegion">Scotland</span>
          </span>
        </h3>
        <meta property="startDate" content="2016-07-14" />
        <meta property="endDate" content="2016-07-16" />
      </div>

      <tito-button event="rest-fest/rest-fest-uk-2016" class="ui huge primary button">Register <i class="right arrow icon"></i></tito-button>
    </div>
  </div>

